*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNextLTPro-Regular.otf");
}

body{
    font-family: "Avenir Next";
}

button{
    cursor: pointer;
}

header{
    padding: 20px 0 0 30px;
}

main #add-task{
    padding: 20px;
}

#task{
    width: 60vw;
    padding: 10px;
    font-size: 1.2em;
}

#add{
    width: 5vw;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
}

#add:hover{
    background-color:mediumseagreen;
}

#tasks-container, #completed-tasks-container{
padding-left: 20px;
}

#completed{
    color: green;
}

